
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
}

.container {
  position: absolute;
  width: 480px;
  height: 800px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #1d99d6;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 388px;
  left: 46px;
  top: 242px;
}

#smile01cont {
  width: 244px;
  height: 244px;
  left: 122px;
  top: 210px;
  overflow: hidden;
}

#smile01 {
  width: 244px;
}



#hearteyes {
  width: 221px;
  left: 136px;
  top: 276px;
}


.txt {
  width: 480px;
  left: 0px;
}

#txt01 {
  top: 192px;
}

#txt02 {
  top: 402px;
}

#txt03 {
  top: 184px;
}

#txt04 {
  top: 118px;
}

#txt05 {
  width: 418px;
  left: 30px;
  top: 726px;
}

#smile02 {
  width: 254px;
  left: 111px;
  top: 281px;
}

.heart {
  width: 77px;
  left: 318px;
  top: 388px;
}

#mask {
  width: 480px;
  left: 0;
  top: 160px;
}

#circle {
  width: 354px;
  height: 354px;
  border-radius: 50%;
  left: 62px;
  top: 313px;
  background-color: #1dc3ff;
}

#phone {
  width: 334px;
  left: 124px;
  top: 258px;
}

#ears {
  width: 194px;
  left: 58px;
  top: 250px;
}

#pack {
  width: 362px;
  left: 56px;
  top: 430px;
}


#schirm {
  position: absolute;
  width: 480px;
  height: 800px;
  top: 0;
  left: 0;
  background-color: #1d99d6;
  background-size: cover;
  opacity: 0;
}