
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
}

.container {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #1d99d6;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 255px;
  left: 112px;
  top: 66px;
}

#smile01cont {
  width: 162px;
  height: 162px;
  left: 159px;
  top: 55px;
  overflow: hidden;
}

#smile01 {
  width: 162px;
}



#hearteyes {
  width: 146px;
  left: 167px;
  top: 99px;
}


.txt {
  width: 316px;
  left: 82px;
}

#txt01 {
  top: 50px;
}

#txt02 {
  top: 159px;
}

#txt03 {
  width: 420px;
  left: 29px;
  top: 27px;
}

#txt04 {
  width: 265px;
  left: 8px;
  top: 131px;
}

#txt05 {
  width: 279px;
  left: 99px;
  top: 279px;
}

#smile02 {
  width: 162px;
  left: 159px;
  top: 88px;
}

.heart {
  width: 46px;
  left: 277px;
  top: 175px;
}

#mask {
  width: 400px;
  left: 40px;
  top: -40px;
}

#circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  left: 277px;
  top: 57px;
  background-color: #1dc3ff;
}

#phone {
  width: 161px;
  left: 296px;
  top: 34px;
}

#ears {
  width: 94px;
  left: 290px;
  top: 50px;
}

#pack {
  width: 174px;
  left: 277px;
  top: 124px;
}


#schirm {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 0;
  left: 0;
  background-color: #1d99d6;
  background-size: cover;
  opacity: 0;
}