
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
}

.container {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #1d99d6;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 246px;
  left: 34px;
  top: 196px;
}

#smile01cont {
  width: 147px;
  height: 147px;
  left: 76px;
  top: 219px;
  overflow: hidden;
}

#smile01 {
  width: 147px;
  left: 0;
  top: 0;
}



#hearteyes {
  width: 131px;
  left: 87px;
  top: 261px;
}

#logo {
  width: 246px;
  left: 34px;
  top: 196px;
}

.txt {
  width: 300px;
  left: 0px;
}

#txt01 {
  top: 178px;
}

#txt02 {
  top: 316px;
}

#txt03 {
  top: 141px;
}

#txt04 {
  top: 182px;
}

#txt05 {
  top: 537px;
}

#smile02 {
  width: 149px;
  left: 74px;
  top: 295px;
}

.heart {
  width: 44px;
  left: 174px;
  top: 363px;
}

#mask {
  width: 300px;
  left: 0;
  top: 220px;
}

#schirm {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
  background-color: #1d99d6;
  background-size: cover;
  opacity: 0;
}