
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
}

.container {
  position: absolute;
  width: 320px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #1d99d6;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 103px;
  left: 111px;
  top: 5px;
}



#smile01 {
  width: 62px;
  left: 238px;
  top: 20px;
}



#hearteyes {
  width: 54px;
  left: 241px;
  top: 35px;
}


#smile02 {
  width: 62px;
  left: 15px;
  top: 20px;
}

.heart {
  width: 23px;
  left: 67px;
  top: 43px;
}




#txt01 {
  width: 172px;
  left: 74px;
  top: 12px;
}

#txt02 {
  width: 172px;
  left: 74px;
  top: 64px;
}

#txt03 {
  width: 191px;
  left: 114px;
  top: 8px;
}

#txt04 {
  width: 191px;
  left: 114px;
  top: 52px;
}

#txt05 {
  width: 238px;
  left: 40px;
  top: 66px;
}

.mask {
  width: 1320px;
  left: -500px;
  top: -635px;
}

#circle {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  left: 23px;
  top: 11px;
  background-color: #1dc3ff;
}

#phone {
  width: 68px;
  left: 33px;
  top: 2px;
}

#ears {
  width: 42px;
  left: 28px;
  top: 9px;
}

#pack {
  width: 85px;
  left: 20px;
  top: 41px;
}


#schirm {
  position: absolute;
  width: 320px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #1d99d6;
  background-size: cover;
  opacity: 0;
}